<section data-ng-controller="HomeController">
	<br /><br /><br />
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-6 column imac-md imac-div">
				<span class="glyphicon glyphicon-fire imac-content"></span>
			</div>
			<div class="col-md-6 column">
				<h1>
					kindling is a fresh take on the swipe-to-match method popularized by Tinder<small style="color: #e18d07">&#8482;</small>.
				</h1>
				<a href="/#!/signup" class="link-signup logo-font" ui-route="/signup" ng-class="{active: $uiRoute}"><strong>Create Account</strong></a>
				<a href="/#!/signin" class="link-signin logo-font" ui-route="/signin" ng-class="{active: $uiRoute}"><strong>Login</strong></a>
				<br /><br />
				<div class="device-container">
					<div class="macbook-sm macbook-div">
						<span class="glyphicon glyphicon-fire macbook-content"></span>
					</div>
					<div class="iphone-sm iphone-div">
						<span class="glyphicon glyphicon-fire iphone-content"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
