<section data-ng-controller="HomeController">
	<br /><br /><br />
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-6 column">
						<img class="imac-md" src="modules/core/img/imac.png" />
					</div>
					<div class="col-md-6 column">
						<h1>
							kindling - the less sucky Tinder
						</h1>
						<h4>
							Tinder is awesome. But kindling is awesomer. What's so awesome about it? Well, it sucks less. That seems to be the catch-phrase, anyway. But I guess you'll just have to give it a spin yourself in order to see what all the hurrah is over.
						</h4>
						<a href="/#!/signin" class="btn btn-primary btn-lg" ui-route="/signin" ng-class="{active: $uiRoute}">Login</a> <a href="/#!/signup" class="btn btn-success btn-lg" ui-route="/signup" ng-class="{active: $uiRoute}">Register</a>
					</div>
				</div>
			</div>
		</div>
		<br /><br /><br />
		<div class="row clearfix">
			<div class="col-md-4 column">
				<h2>
					Swipe-Undo!
				</h2>
				<p>
					Everyone knows that heart-stopping moment when you accidentally swipe-left and forever rid yourself of the opportunity to meet your soulmate. With Tinder, the only fix was to delete your account and start over on the match-making process. Not anymore - kindling allows undoing your last swipe, be it left or right!
				</p>
			</div>
			<div class="col-md-4 column">
				<h2>
					Available everywhere!
				</h2>
				<p>
					There's no more need to download an app just to get started. kindling is available anywhere you can find a browser. And yes, that means it's even available on your desktop at work.
				</p>
			</div>
			<div class="col-md-4 column">
				<h2>
					Location Modes!
				</h2>
				<p>
					Location modes allow kindlings to indicate that they are traveling and thus only in the area temporarily. Other kindlings have the option of filtering people who are only passing through.
				</p>
			</div>
		</div>
	</div>
</section>
